---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
---

<Layout title="About page">
    <Main>
    <H1 text={"This contain is About"}/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid facere animi hic eius assumenda, error accusamus temporibus in praesentium voluptates non excepturi dolor atque officia ducimus libero alias exercitationem esse.</p>
    </Main>
</Layout>